## Habitable Planet Data Cleaning

In [64]:
import pandas as pd
import numpy as np

In [65]:
k_data = pd.read_csv("planet.csv")
k_data.columns = ['planet_name', 'num_stars', 'controv_flag', 'orbital_period', 'planet_semi-major_axis', 'planet_radius', 'planet_mass', 'eccentricity', 'insolation_flux', 'equi_temp', 'spectral_type', 'stellar_temp', 'stellar_radius', 'stellar_mass', 'distance']

planet_name = Name of Planet

num_stars = Number of stars

controv_flag = 0 if no controversy, else 1

orbital_period = orbital period [days]

planet_semi-major_axis = distance from star [au]

planet_radius = planet radius [Earth Radius]

planet_mass = planet mass [Earth Mass]

eccentricity = amount by which orbit of planet deviates from a perfect circle (instability in temp)

insolation_flux = Another form of equi_temp [Earth]

equi_temp = planetary equilibrium (The equilibrium temperature of the planet as modeled by a black body heated only by its host star, or for directly imaged planets, the effective temperature of the planet required to match the measured luminosity if the planet were a black body)

spectral_type = Classification based upon Morgan-Keenan system.

stellar_mass = mass of star [Sol Mass]

distance = distance from Earth [parsec]

In [94]:
k_data.head()

,planet_name,num_stars,orbital_period,planet_semi-major_axis,planet_radius,planet_mass,eccentricity,insolation_flux,equi_temp,stellar_temp,stellar_radius,stellar_mass,distance
0,11 Com b,2.0,324.620000,1.226000,NaN,5505.066163,0.234500,NaN,NaN,4808.000,16.380000,2.463333,93.1846
1,11 UMi b,1.0,516.219985,1.526667,NaN,3818.094733,0.080000,NaN,NaN,4276.500,26.935000,2.093333,125.3210
2,14 And b,1.0,186.300000,0.761667,NaN,1224.550433,0.000000,NaN,NaN,4850.500,11.275000,1.726667,75.4392
3,14 Her b,1.0,1766.378417,2.814750,NaN,1642.383591,0.362925,NaN,NaN,5296.985,0.976667,0.927143,17.9323
4,16 Cyg B b,3.0,799.375000,1.662833,NaN,533.514528,0.676033,NaN,NaN,5728.594,1.140000,1.016000,21.1397

In [67]:
#Total rows
k_data['planet_name'].count()

35896

In [68]:
#Total planets
k_data['planet_name'].nunique()

5602

In [69]:
#Take duplicates and average the data
avg_data = k_data.groupby('planet_name').mean(numeric_only=True).reset_index()
avg_data.reset_index(drop=True, inplace=True)
avg_data.tail()

,planet_name,num_stars,controv_flag,orbital_period,planet_semi-major_axis,planet_radius,planet_mass,eccentricity,insolation_flux,equi_temp,stellar_temp,stellar_radius,stellar_mass,distance
5597,ups And b,2.0,0.0,4.616229,0.058895,NaN,219.960419,0.030200,NaN,NaN,6137.820000,1.615,1.2500,13.4054
5598,ups And c,2.0,0.0,240.728533,0.827712,NaN,1275.328758,0.238933,NaN,NaN,6117.093333,1.615,1.2625,13.4054
5599,ups And d,2.0,0.0,1285.346167,2.528382,NaN,1616.242590,0.281117,NaN,NaN,6117.093333,1.615,1.2625,13.4054
5600,ups Leo b,1.0,0.0,385.200000,1.180000,NaN,162.092490,0.320000,NaN,NaN,4836.000000,11.220,1.4800,52.5973
5601,xi Aql b,1.0,0.0,136.860000,0.628333,NaN,716.301647,0.029500,NaN,NaN,4810.500000,11.430,1.7800,56.1858

In [70]:
# Checking NAN counts for each row.
for column in avg_data.columns:
    nan_count = avg_data[column].isna().sum()
    print(f"Number of NaN values in '{column}': {nan_count}")

Number of NaN values in 'planet_name': 0
Number of NaN values in 'num_stars': 0
Number of NaN values in 'controv_flag': 0
Number of NaN values in 'orbital_period': 249
Number of NaN values in 'planet_semi-major_axis': 296
Number of NaN values in 'planet_radius': 1361
Number of NaN values in 'planet_mass': 2907
Number of NaN values in 'eccentricity': 777
Number of NaN values in 'insolation_flux': 1710
Number of NaN values in 'equi_temp': 1462
Number of NaN values in 'stellar_temp': 392
Number of NaN values in 'stellar_radius': 535
Number of NaN values in 'stellar_mass': 28
Number of NaN values in 'distance': 118

In [71]:
#Remove rows that have controversy
avg_data_filtered = avg_data.loc[avg_data['controv_flag'] != 1]
avg_data_filtered.reset_index(drop=True, inplace=True)
avg_data_filtered['controv_flag'].nunique()

1

In [72]:
proj_data = avg_data_filtered
proj_data.head()

,planet_name,num_stars,controv_flag,orbital_period,planet_semi-major_axis,planet_radius,planet_mass,eccentricity,insolation_flux,equi_temp,stellar_temp,stellar_radius,stellar_mass,distance
0,11 Com b,2.0,0.0,324.620000,1.226000,NaN,5505.066163,0.234500,NaN,NaN,4808.000,16.380000,2.463333,93.1846
1,11 UMi b,1.0,0.0,516.219985,1.526667,NaN,3818.094733,0.080000,NaN,NaN,4276.500,26.935000,2.093333,125.3210
2,14 And b,1.0,0.0,186.300000,0.761667,NaN,1224.550433,0.000000,NaN,NaN,4850.500,11.275000,1.726667,75.4392
3,14 Her b,1.0,0.0,1766.378417,2.814750,NaN,1642.383591,0.362925,NaN,NaN,5296.985,0.976667,0.927143,17.9323
4,16 Cyg B b,3.0,0.0,799.375000,1.662833,NaN,533.514528,0.676033,NaN,NaN,5728.594,1.140000,1.016000,21.1397

In [78]:
proj_data2 = proj_data.drop(columns=['controv_flag'])
proj_data2.head()

,planet_name,num_stars,orbital_period,planet_semi-major_axis,planet_radius,planet_mass,eccentricity,insolation_flux,equi_temp,stellar_temp,stellar_radius,stellar_mass,distance
0,11 Com b,2.0,324.620000,1.226000,NaN,5505.066163,0.234500,NaN,NaN,4808.000,16.380000,2.463333,93.1846
1,11 UMi b,1.0,516.219985,1.526667,NaN,3818.094733,0.080000,NaN,NaN,4276.500,26.935000,2.093333,125.3210
2,14 And b,1.0,186.300000,0.761667,NaN,1224.550433,0.000000,NaN,NaN,4850.500,11.275000,1.726667,75.4392
3,14 Her b,1.0,1766.378417,2.814750,NaN,1642.383591,0.362925,NaN,NaN,5296.985,0.976667,0.927143,17.9323
4,16 Cyg B b,3.0,799.375000,1.662833,NaN,533.514528,0.676033,NaN,NaN,5728.594,1.140000,1.016000,21.1397

# Factoring in Earth

Mass = 5.9722×10^24 kg

Eccentricity =0.0034 and up to 0.058.

Radius = 3,958.8 miles

Orbital Period = 365

Semi-major Axis of Orbit = 149,598,023 km (or 92,955,902 miles)

Insolation Flux = 1400 W/m

Equilibrium Temp = 255 K

Spectral Type = G-type (G-V)

Solar Mass = 1.989 × 10^30 kg

In [93]:
columns = ['planet_name', 'num_stars', 'orbital_period', 'planet_semi-major_axis', 'planet_radius', 'planet_mass', 'eccentricity', 'insolation_flux', 'equi_temp', 'stellar_temp', 'stellar_radius', 'stellar_mass', 'distance']
earth = pd.DataFrame(columns=columns)
earth_data = {'planet_name' : 'Earth',
              'num_stars' : 1,
              'orbital_period' : 365,
              'planet_semi-major_axis' : 1,
              'planet_radius' : ,
              'planet_mass' : ,
              'eccentricity' : ,
              'insolation_flux' : ,
              'equi_temp' : ,
              'stellar_temp' : ,
              'stellar_radius' : ,
              'stellar_mass' : ,
              'distance' : 0
}

Empty DataFrame
Columns: [planet_name, num_stars, orbital_period, planet_semi-major_axis, planet_radius, planet_mass, eccentricity, insolation_flux, equi_temp, stellar_temp, stellar_radius, stellar_mass, distance]
Index: []

# Steps

1) Calculate planets in habitable zone.

    a) Planetary Equilibrium Temp is easiest. 175 K - 270 K
    
    b) Semi-major axis (distance from spectral body) and spectral type / stellar temp to estimate equi_temp
    


2) Clean data with planets that do not reside in the habitable zone

In [88]:
# How many planets are habitable based upon our current count?
k_data = proj_data2
habitable = k_data[(k_data['equi_temp'] >= 175) & (k_data['equi_temp'] <= 270)]
count = habitable['planet_name'].count()
missing = k_data['equi_temp'].isna().sum()
print(count, "planets with equilibrium temp within acceptable habitable zone parameters.", missing, "NAN values")

78 planets with equilibrium temp within acceptable habitable zone parameters. 1442 NAN values

# Solving Missing Equilibrium Temperature

In [99]:
# Does insolation_flux help?
miss_temp = k_data[k_data['equi_temp'].isna()]
#miss_temp.count()
# 93 counts with insolation flux
insol_flux = k_data[~k_data['insolation_flux'].isna()]
insol_flux.head()

,planet_name,num_stars,orbital_period,planet_semi-major_axis,planet_radius,planet_mass,eccentricity,insolation_flux,equi_temp,stellar_temp,stellar_radius,stellar_mass,distance
30,55 Cnc e,2.0,0.994802,0.019644,1.968556,8.667005,0.081625,2657.83,1894.500000,5239.990833,0.95500,0.922667,12.5855
47,AU Mic b,1.0,8.463095,0.064860,4.089400,22.221567,0.064539,48.92,649.333333,3675.857143,0.75125,0.515714,9.7221
48,AU Mic c,1.0,18.859087,0.110250,2.850667,14.900000,0.043595,7.30,456.500000,3685.750000,0.76200,0.522000,9.7221
74,BD-210397 b,1.0,1891.000000,2.630000,NaN,214.000000,0.100000,0.02,NaN,4051.000000,0.75000,0.680000,23.7324
75,BD-210397 c,1.0,6300.000000,5.900000,NaN,1142.288175,0.265000,0.00,NaN,4051.000000,0.75000,0.685000,23.7324

In [110]:
insol_habit = insol_flux[(insol_flux['insolation_flux'] >= 175) & (insol_flux['insolation_flux'] <= 300)]
both_habit = insol_habit[(insol_habit['equi_temp'] < 800)]
both_habit

,planet_name,num_stars,orbital_period,planet_semi-major_axis,planet_radius,planet_mass,eccentricity,insolation_flux,equi_temp,stellar_temp,stellar_radius,stellar_mass,distance
2343,Kepler-1283 b,1.0,12.946239,0.10696,1.706571,NaN,0.0,210.312,771.0,6089.444444,1.498889,1.04125,2921.99

# Conclusion on Insolation Flux

Useless parameter, the planet's who's insolation flux have an equilibrium temperature that is too high to sustain life