In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("PS_2024.04.09_13.12.11.xlsx", header=73)

In [3]:
data

,11 Com b,11 Com,2,0,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,1.21,0.06,...,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,93.1846,1.9238,-1.9238
0,11 Com b,11 Com,2,0,326.03000,0.32,-0.32,0.0,1.290,0.05,...,-0.090,0.0,[Fe/H],2.31,0.10,-0.10,0.0,93.1846,1.92380,-1.92380
1,11 Com b,11 Com,2,0,323.21000,0.06,-0.05,0.0,1.178,0.00,...,-0.100,0.0,[Fe/H],2.45,0.08,-0.08,0.0,93.1846,1.92380,-1.92380
2,11 UMi b,11 UMi,1,0,516.21997,3.20,-3.20,0.0,1.530,0.07,...,NaN,0.0,[Fe/H],1.93,0.07,-0.07,0.0,125.3210,1.97650,-1.97650
3,11 UMi b,11 UMi,1,0,NaN,NaN,NaN,NaN,1.510,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.3210,1.97650,-1.97650
4,11 UMi b,11 UMi,1,0,516.22000,3.25,-3.25,0.0,1.540,0.07,...,-0.040,0.0,[Fe/H],1.60,0.15,-0.15,0.0,125.3210,1.97650,-1.97650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35890,ups And d,ups And,2,0,1319.00000,18.00,-18.00,0.0,2.570,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.4054,0.06350,-0.06290
35891,ups Leo b,ups Leo,1,0,385.20000,2.80,-1.30,0.0,1.180,0.11,...,-0.080,0.0,[Fe/H],2.46,0.09,-0.09,0.0,52.5973,0.92720,-0.89630
35892,xi Aql b,xi Aql,1,0,NaN,NaN,NaN,NaN,0.580,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.1858,0.55975,-0.55975
35893,xi Aql b,xi Aql,1,0,136.75000,0.25,-0.25,0.0,0.680,NaN,...,-0.039,0.0,[Fe/H],2.66,0.11,-0.11,0.0,56.1858,0.55975,-0.55975
35894,xi Aql b,xi Aql,1,0,136.97000,0.11,-0.18,0.0,0.625,0.00,...,-0.100,0.0,[Fe/H],2.61,0.08,-0.08,0.0,56.1858,0.55975,-0.55975